<web-app>
<servlet>
<servlet-name>srinu</servlet-name>
<servlet-class>server1</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>srinu</servlet-name>
<url-pattern>/server1</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>nani</servlet-name>
<servlet-class>server2</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>nani</servlet-name>
<url-pattern>/server2</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>1052</servlet-name>
<servlet-class>login</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>1052</servlet-name>
<url-pattern>/login</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>project</servlet-name>
<servlet-class>image</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>project</servlet-name>
<url-pattern>/image</url-pattern>
</servlet-mapping>
</web-app>